


<div class="container">

    <div class="row">
        <div class="col-md-3">
            <form>
                <table>
                    <tr>
                        <td>
                            <lable>F_Name <b> :</b></lable>
                            <input type="text" ng-model="name" style="margin-left:-3PX;" />
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <lable>L_Name <b> :</b></lable>
                            <input type="text" ng-model="lname" style="margin-left: -1%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <lable>Address <b> :</b></lable>
                            <input type="text" ng-model="address" />
                        </td>
                    </tr>
                </table>
                <br />
                <button type="submit" ng-click="add() " style="padding: 5px;margin-left: 4.8%;">Save</button>
            </form>
        </div>
    </div>

</div>
